<div id="<%= dom_id engine %>">
  <p>
    <strong>Type:</strong>
    <%= engine.type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= engine.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= engine.description %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= engine.photo %>
  </p>

</div>
