<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Motor:</strong>
    <%= maintenance.engine_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= maintenance.type %>
  </p>

  <p>
    <strong>City:</strong>
    <%= maintenance.city %>
  </p>

  <p>
    <strong>Materials:</strong>
    <%= maintenance.materials %>
  </p>

  <p>
    <strong>Technician email:</strong>
    <%= maintenance.technician_email %>
  </p>

  <p>
    <strong>Maintenance date:</strong>
    <%= maintenance.maintenance_date %>
  </p>

</div>
